<% title 'Éditer une conférence' %>
<div class="container">
	<div class="row">
		<div class="col-sm-12 container">
			<div class="row">
				<div class="col-sm-12">
					<%= form_for @proposal, html: { class: %i(well form-horizontal) } do |f| %>
						<%= render 'proposals/form', f: f %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
