<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 well">
			<p><strong>Un courriel a été envoyé à l’adresse donnée.</strong></p>
			<p>
				Il contient un lien vous permettant de corriger ou de supprimer
				votre proposition de conférence.
			</p>
			<p>Merci pour votre soutien !</p>
			<%= link_to 'Retour à l’accueil', root_path, title: "Cliquer ici pour revenir à la page d'accueil", class: %i(btn btn-primary pull-right) %>
		</div>
	</div>
</div>
