<% title 'Ouverture prochaine de l’appel à conférences' %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-danger">
				<p><strong>L’appel à conférence n’est pas encore ouvert !</strong></p>
				<p>Rendez-vous le <%= l @party.proposal_from, format: :long %></p>
			</div>
		</div>
	</div>
</div>
