<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1>Je souhaite proposer une conférence</h1>
			<%= link_to 'C’est par ici', new_proposal_path, class: %i(btn btn-primary btn-lg) %>
		</div>
		<div class="col-sm-6 right">
			<h1>Je souhaite devenir bénévole</h1>
			<%= link_to 'C’est par là', 'http://participer.ubuntu-paris.org/?appel=benevole', class: %i(btn btn-primary btn-lg) %>
		</div>
	</div>
</div>
