//= require_tree .
//= require_self

@font-face {
	font-family: Ubuntu;
	src: font-url('Ubuntu.ttf');
}

@import "variables";
@import "bootstrap";

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.justify {
	text-align: justify;
}

.danger {
	color: $state-danger-text;
}

.warning {
	color: $state-warning-text;
}

.success {
	color: $state-success-text;
}

.info {
	color: $state-info-text;
}

body {
	padding-top: 70px;
}

.navbar-brand {
	font-weight: bold;
	font-size: 25px;
}

table, fieldset, .help-block, .panel, .well {
	color: $gray-dark;
}

thead, tfoot {
	color: $text-color;
}

.table-striped {
	> tbody > tr:nth-of-type(even) {
		color: $text-color;
	}
}
